<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projeto_android"

        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".MenuClienteActivity" />
        <activity android:name=".OrcamentoActivity" />
        <activity android:name=".RegistroEmpresaActivity" />
        <activity android:name=".RegistroClienteActivity" />
        <activity android:name=".RegistroFuncionarioActivity" />
        <activity android:name=".ListaClientesActivity" />
        <activity android:name=".ListaUsuariosActivity" />
        <activity android:name=".PerfilActivity" />
        <activity android:name=".EditarPerfilActivity" />
        <activity android:name=".AvaliacaoActivity" />
        <activity android:name=".AlterarSenhaActivity" />
        <activity android:name=".CommentsActivity" />
        <activity android:name=".RedefinirSenhaActivity" />









    </application>

</manifest>